/*
-----------------------------------------------------------------------------
Настройка брейкпоинтов для адаптива
По умолчанию, медиа-запросы работают от уменьшения ширины экрана

Например: перед нами экран, МАКСИМАЛЬНАЯ ширина экрана которого равна 1200px,
тогда срабатывает брейкпоинт и применяются нужны стили
-----------------------------------------------------------------------------
*/

$grid-breakpoint: (
  mobile: 540px,
  tablet: 800px,
  notebook: 1032px,
  laptop: 1240px,
  desktop: 1480px
) !default;

// Переменные для обратной адаптивности
$breakpoint-mobile: max-width map.get($grid-breakpoint, "mobile");
$breakpoint-tablet: max-width map.get($grid-breakpoint, "tablet");
$breakpoint-notebook: max-width map.get($grid-breakpoint, "notebook");
$breakpoint-laptop: max-width map.get($grid-breakpoint, "laptop");
$breakpoint-desktop: max-width map.get($grid-breakpoint, "desktop");
